@define-color base00 #1e1e2e;
@define-color base01 #181825;
@define-color base02 #313244;
@define-color base03 #45475a;
@define-color base04 #585b70;
@define-color base05 #cdd6f4;
@define-color base06 #f5e0dc;
@define-color base07 #b4befe;
@define-color base08 #f38ba8;
@define-color base09 #fab387;
@define-color base0A #f9e2af;
@define-color base0B #a6e3a1;
@define-color base0C #94e2d5;
@define-color base0D #89b4fa;
@define-color base0E #cba6f7;
@define-color base0F #f2cdcd;

* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font Mono", Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: @base05;
}

/* Tooltip */
tooltip {
    background: @base00;
    border: 1px solid @base0D;
    border-radius: 10px;
}

tooltip label {
    color: @base05;
}

/* Modules (Pills) */
#workspaces,
#clock,
#tray,
#battery,
#network,
#pulseaudio,
#custom-power,
#custom-niri-window {
    background: @base00;
    color: @base05;
    padding: 6px 14px;
    margin: 4px 3px;
    border-radius: 15px;
    border: 1px solid @base02;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.4);
}

/* Workspaces */
#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: @base05;
    border-radius: 10px;
    margin: 0 2px;
}

#workspaces button:hover {
    background: @base02;
}

#workspaces button.active {
    background: @base0D;
    color: @base00;
}

#workspaces button.focused {
    background: @base0D;
    color: @base00;
}

/* Individual Module Tweaks */
#clock {
    font-weight: bold;
    color: @base0D;
}

#battery.charging {
    color: @base0B;
}

#battery.warning:not(.charging) {
    color: @base09;
}

#battery.critical:not(.charging) {
    color: @base08;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: @base08;
        color: @base00;
    }
}

#network.disconnected {
    color: @base08;
}

#pulseaudio.muted {
    color: @base04;
}

#custom-power {
    color: @base08;
    padding-right: 18px;
}
